{% extends 'shared/base.html.twig' %}

{% block title %}App GiftCard QR Code{% endblock %}

{% block body %}
  <main class="container">
    <div class="card">
      <div class="card-header">
        <h2>App GiftCard QR Code</h2>
      </div>

      <div class="card-body">

        <div class="p-2 d-flex justify-content-center">
          <img width="200" src="data:image/png;base64,{{ qrCode }}">
        </div>

        {% set seller = giftCard.onSaleBy %}
        {% set customer = giftCard.boughtBy %}
        {% set associatedTo = giftCard.associatedTo %}

        <h3>Informations</h3>
        <ul>
          <li>Code: <strong>{{ giftCard.code }}</strong></li>
          <li>Status: <strong>{{ (giftCard|giftCardStatus).label() }}</strong></li>
          <li>Vendu par: <strong>{{ seller ? seller.username : 'N/A' }}</strong></li>
          <li>Vendu à: <strong>{{ customer ? customer.email : 'N/A' }}</strong></li>
          <li>Associé à: <strong>{{ associatedTo ? associatedTo.email : 'N/A' }}</strong></li>
          <li>Montant initial: <strong>{{ giftCard.initialAmount }}</strong></li>
          <li>Montant restant: <strong>{{ giftCard.remainingAmount }}</strong></li>
        </ul>

        <h3>Utilisations</h3>
        <ul>
          {% for giftCardUsage in giftCard.giftCardUsages %}
            <li>
              <ul>
                <li>Utilisé chez: <strong>{{ giftCardUsage.usedTo.username }}</strong></li>
                <li>Utilisé le: <strong>{{ giftCardUsage.usedAt|date('Y-m-d H:i:s') }}</strong></li>
                <li>Montant: <strong>{{ giftCardUsage.usedAmount }}</strong></li>
              </ul>
            </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
{% endblock %}
