<nav class='nav justify-content-center mb-5 bg-light-subtle'>
  <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
  <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
  {% if app.user is null %}
    <a class="nav-link" href="{{ path('app_customer_login') }}">Connexion (Client)</a>
    <a class="nav-link" href="{{ path('app_admin_login') }}">Connexion (Admin)</a>
  {% else %}
    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
  {% endif %}
</nav>
